body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:aqua;
  background:darkslateblue;
}

canvas {
  margin-top: 20px;
  background-color: darkslateblue;
  display: block;
  border: 5px darkslateblue solid;
}

#retry {
  margin-top: 20px;
  display: none;
}